@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
}

main {
    background-color: inherit;
}

section {
    margin-top: 96px;
    padding-bottom: 32px;
    padding-top: 32px;
}

main > header h1 {
    position: sticky;
    top: 8px;
    z-index: 1200;
}

section > header {
    padding-bottom: 40px;
    pointer-events: none;
    position: sticky;
    top: 8px;
    z-index: 1200;
}

footer {
    margin-top: 80px;
}

a {
    color: inherit;
    text-decoration: none;
}

.sr-only {
    display: block;
    height: 0;
    overflow: hidden;
    width: 0;
}